{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}مراجعات{% endblock %}
{% block content %}


        
            <div class="card mt-5">
                <div class="card-header header-elements">
                      <span class="me-2">لیست مراجعات</span>

                      
                    </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap border-bottom"
                                id="responsive-datatable">
                            <thead>
                            <tr class="border-top">
                                <th>تاریخ مراجعه</th>
                                <th>ویزیت</th>
                                <th>شرح گزارش</th>
                                <th>مشاهده پیوست‌ها</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for report in reports %}
                                    <tr>
                                        
                                        <td class="align-middle">{{report.session_date}}</td>
                                        <td class="align-middle">{{report.cost|intcomma}} تومان</td>
                                        <td class="align-middle">{{report.description|safe}}</td>
                                        <td class="align-middle" class="align-middle">
                                            {% if report.get_attachments %}
                                            <button class="btn btn-success modal-effect text-white"
                                            data-bs-effect="effect-scale" data-bs-toggle="modal" href="#report{{report.id}}">مشاهده فایل‌های پیوست</button>
                                            <a href="{% url 'clinic:delete_session' report.id %}" class="btn btn-icon btn-danger">
                                                <span class="tf-icons bx bx-trash"></span>
                                            </a>
                                            {% else %}
                                            <p>بدون پیوست <a href="{% url 'clinic:delete_session' report.id %}" class="btn btn-icon btn-danger">
                                                <span class="tf-icons bx bx-trash"></span>
                                            </a></p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                  

            {% for report in reports %}
            <div class="modal fade" id="report{{report.id}}">
                <div class="modal-dialog modal-dialog-centered text-center" role="document">
                    <div class="modal-content modal-content-demo">
                        <div class="modal-header">
                            <h6 class="modal-title">پیوست‌ها</h6>
                            
                        </div>
                        <div class="modal-body">
                            
                                
                            <div class="table-responsive">
                                <table class="table table-bordered text-nowrap border-bottom"
                                        id="responsive-datatable">
                                    <thead>
                                    <tr class="border-top">
                                        <th>فایل پیوست</th>
                                        <th>حذف فایل</th>
                               
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for attach in report.get_attachments %}
                                            <tr>
                                                
                                                <td class="align-middle">
                                                    {% if attach.file.name|lower|slice:"-4:" in '.jpg,.png,.jpeg,.gif' %}
                                                        <!-- نمایش پیش‌نمایش تصویر برای فایل‌های تصویری -->
                                                        <a href="{{ attach.file.url }}" target="_blank" rel="noopener noreferrer">
                                                            <img src="{{ attach.file.url }}" alt="Preview" style="max-width: 100px; max-height: 100px; object-fit: cover;">
                                                        </a>
                                                    {% else %}
                                                        <!-- نمایش نام فایل یا آیکون برای فایل‌های غیرتصویری -->
                                                        <a href="{{ attach.file.url }}" target="_blank" rel="noopener noreferrer">
                                                            <span>{{ attach.file.name }}</span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    <a href="{% url 'clinic:delete_attach' report.id attach.id %}" class="btn btn-icon btn-danger">
                                                        <span class="tf-icons bx bx-trash"></span>
                                                    </a>
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" data-bs-dismiss="modal">بستن</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/forms-pickers.js' %}"></script>
{% endblock %}