{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}مشترکین{% endblock %}
{% block content %}


            
   

            <div class="card">
                <div class="card-header header-elements">
                      <span class="me-2">ثبت گزارش جدید</span>

                      <div class="card-header-elements ms-auto">
                        <a type="button" class="btn btn-s btn-primary" href="{% url 'clinic:index' %}">
                          <span class=" bx-xs me-1"></span>بازگشت به صفحه بیماران
                        </a>
                      </div>
                    </div>
                <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-6 mb-0">
                                <label class="form-label">تاریخ مراجعه</label><span class="text-danger">*</span>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                    </div>
                                    <input type="text" name="session_date" class="form-control" placeholder="YYYY/MM/DD" id="flatpickr-date">
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-0">
                                <label class="form-label">ویزیت دریافتی (تومان)</label>
                                <input name="cost" class="form-control" placeholder="هزینه ویزیت"
                                        type="number">
                        </div>


                            <div class="form-group col-12 mb-0">
                                <div class="form-group">
                                    <label class="form-label text-start">توضیحات</label>
                                    <textarea name="description" class="form-control" placeholder="جای متن"
                                                            rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group col-12 mb-0 mt-2">
                                <label class="form-label text-start" for="formFileMultiple">پیوست‌ها</label>
                                <input class="form-control" name="prescription_files" id="formFileMultiple" multiple type="file">
                            </div>                        
                        </div> 
                                   
            
                    <div class="form-footer mt-2">
                        <button type="submit" class="btn btn-primary">ثبت گزارش جدید</button>
                        <p class="text-danger">{{message}}</p>
                    </div>
                </form>
                </div>
            </div>
            
            <div class="card mt-5">
                <div class="card-header header-elements">
                      <span class="me-2">سوابق مراجعات</span>

                      
                    </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap border-bottom"
                                id="responsive-datatable">
                            <thead>
                            <tr class="border-top">
                                <th>تاریخ مراجعه</th>
                                <th>ویزیت</th>
                                <th>شرح گزارش</th>
                                <th>مشاهده پیوست‌ها</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for report in reports %}
                                    <tr>
                                        
                                        <td class="align-middle">{{report.session_date}}</td>
                                        <td class="align-middle">{{report.cost|intcomma}} تومان</td>
                                        <td class="align-middle">{{report.description|safe}}</td>
                                        <td class="align-middle" class="align-middle">
                                            {% if report.get_attachments %}
                                            <button class="btn btn-success modal-effect text-white"
                                            data-bs-effect="effect-scale" data-bs-toggle="modal" href="#report{{report.id}}">مشاهده فایل‌های پیوست</button>
                                            <a href="{% url 'clinic:delete_session' report.id %}" class="btn btn-icon btn-danger">
                                                <span class="tf-icons bx bx-trash"></span>
                                            </a>
                                            {% else %}
                                            <p>بدون پیوست <a href="{% url 'clinic:delete_session' report.id %}" class="btn btn-icon btn-danger">
                                                <span class="tf-icons bx bx-trash"></span>
                                            </a></p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                  

{% for report in reports %}
<div class="modal fade" id="report{{report.id}}">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">پیوست‌ها</h6>
                
            </div>
            <div class="modal-body">
                
                    
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom"
                            id="responsive-datatable">
                        <thead>
                        <tr class="border-top">
                            <th>فایل پیوست</th>
                            <th>حذف فایل</th>
                   
                        </tr>
                        </thead>
                        <tbody>
                            {% for attach in report.get_attachments %}
                                <tr>
                                    
                                    <td class="align-middle">
                                        {% if attach.file.name|lower|slice:"-4:" in '.jpg,.png,.jpeg,.gif' %}
                                            <!-- نمایش پیش‌نمایش تصویر برای فایل‌های تصویری -->
                                            <a href="{{ attach.file.url }}" target="_blank" rel="noopener noreferrer">
                                                <img src="{{ attach.file.url }}" alt="Preview" style="max-width: 100px; max-height: 100px; object-fit: cover;">
                                            </a>
                                        {% else %}
                                            <!-- نمایش نام فایل یا آیکون برای فایل‌های غیرتصویری -->
                                            <a href="{{ attach.file.url }}" target="_blank" rel="noopener noreferrer">
                                                <span>{{ attach.file.name }}</span>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'clinic:delete_attach' report.id attach.id %}" class="btn btn-icon btn-danger">
                                            <span class="tf-icons bx bx-trash"></span>
                                        </a>
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/forms-pickers.js' %}"></script>
{% endblock %}